* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/** Estilos comunes */
h1 {
    font-size: 3rem;
    padding-top: 1rem;
}

h2 {
    font-size: 2.2rem;
    padding: 0.5em;
}

header, footer {
    width: 100%;
}

p {
    font-size: 1.1rem;
    text-align: justify;
}

ul {
    list-style-type: none;
}

figcaption {
    text-align: center;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

/** Estilos especificos */
header {
    display: flex;
    flex: 2;
    justify-content: center;
    background: url('assets/images/mountains.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
/*     animation: clouds_flow 60s linear infinite; */
}

main {
    display: flex;
    flex-direction: column;
    flex: 7;
    padding: 1em;
}

section {
    min-height: 16rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    padding: 0.5em 0.8em 1.2em 0.5em;
}

li:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
}

article > p {
    padding: 1rem 0.5rem;
    line-height: 1.4em;
}

figure {
    height: 12rem;
    width: 18rem;
}

a > img {
    width: 100%;
    min-height: 100%;
}

footer {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex: 1;
    padding: 5px;
    background-color: #AEE0E8;
}

footer > p {
    padding-top: 0.8em;
    font-weight: 600;
    font-size: 22px;
}

/* @keyframes clouds_flow {
    0% { background-position: 0 0; }
    50% { background-position: -320px 0; }
    100% { background-position: -640px 0; }
} */