main {
    padding: 1rem;
    font-size: 18px;
    line-height: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 5rem;
}

.main__image {
    height: 30%;
    width: 40%;
}

.section__image {
    height: 22rem;
    width: 32rem;
}
