body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(245,217,242,1) 2%, rgba(195,245,255,1) 50%);
}
main {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.5rem;
}
main > h1 {
    text-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    line-height: 2rem;
}
p {
    text-align: justify;
}
section {
    padding: 2rem 0.5rem;
}
ol {
    list-style-type: upper-roman;
}
li {
    display: flex column;
    list-style-type: disclosure-closed;
    padding: 0.25rem;
    font-size: 20px;
}
a {
    display: block;
    height: 8rem;
    cursor: pointer;
}
.cat__details--pointer:hover {
    transition: all 1s ease;
    transform: scale(1.05);
    transform: translateX(5px);
}
h5 {
    margin: 0.2rem;
}
img {
    padding-left: 0.5rem;
    height: 100%;
    width: 7rem;
}
