body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(245,217,242,1) 2%, rgba(195,245,255,1) 50%);
}
main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 18px;
    line-height: 1.5rem;
}
header {
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0.75rem 0rem;
}
p {
    text-align: justify;
}
.ascension__images {
    display: flex;
    justify-content: center;
}
.ascension__images > img {
    max-height: 30rem;
}
figure {
    text-align: center;
    margin: 0.5rem;
}
picture > img {
    height: 15rem;
    max-width: 100%;
}
img:last-of-type {
    max-width: 50vw;
}
.ascension__iframe {
    display: flex;
    justify-content: center;
}
