body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(245,217,242,1) 2%, rgba(195,245,255,1) 50%);
}
main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 18px;
    line-height: 1.5rem;
}
header {
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0.75rem 0rem;
}
p {
    text-align: justify;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.25rem;
    padding: 0.25rem;
}
picture > img {
    width: 32rem;
    height: 24rem;
}
figcaption {
    text-align: center;
    padding: 5px;
    font-weight: 400;
    font-size: 18px;
}
.war__images, .war__iframe {
    display: flex;
    justify-content: center;
}

/* media queries */

@media screen and (max-width: 640px) {
    picture > img {
        max-width: 75vw;
    }
    h1 {
        line-height: 2rem;
    }
}
